body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: #f4f4f9;
  color: #333;
}

header {
  background: #B2BEB5;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background: #ddd;
}
